In [1]:
import numpy as np
import pandas_datareader as pdr
import datetime as dt
import pandas as pd
 
tickers = ['JPM', 'BAC', 'TFC', 'WFC', 'USB']
start = dt.datetime(2002, 1, 1)
end = dt.datetime(2007, 12, 31)
 
stockData = pdr.get_data_yahoo(tickers, start, end, interval="d")
stockData
 
#multiple_stocks = multiple_stocks['Adj Close']

Attributes  Adj Close                                                  Close  \
Symbols           JPM        BAC        TFC        WFC        USB        JPM
Date
2002-01-02  20.175047  19.334284  17.475098  12.255763  10.944817  36.349998
2002-01-03  20.713419  19.312794  17.601948  12.300906  10.998071  37.320000
2002-01-04  21.645872  19.613737  17.675125  12.331936  11.205789  39.000000
2002-01-07  21.590353  19.380350  17.767813  12.351685  11.179157  38.900002
2002-01-08  21.423840  19.070194  17.436069  12.303729  11.152527  38.599998
...               ...        ...        ...        ...        ...        ...
2007-12-24  31.033640  33.241417  19.615503  21.140219  22.060516  44.830002
2007-12-26  31.109783  33.257168  19.457607  21.180872  22.060516  44.939999
2007-12-27  30.209867  32.596714  18.917116  20.530397  21.706747  43.639999
2007-12-28  29.946796  32.313694  18.874615  20.388113  21.851004  43.259998
2007-12-31  30.216791  32.439476  18.625622  20.455872  21.802916  43.650002

Attributes                                              ...       Open  \
Symbols           BAC        TFC        WFC        USB  ...        JPM
Date                                                    ...
2002-01-02  31.480000  35.820000  21.719999  20.549999  ...  36.490002
2002-01-03  31.445000  36.080002  21.799999  20.650000  ...  36.500000
2002-01-04  31.934999  36.230000  21.855000  21.040001  ...  38.020000
2002-01-07  31.555000  36.419998  21.889999  20.990000  ...  39.049999
2002-01-08  31.049999  35.740002  21.805000  20.940001  ...  39.000000
...               ...        ...        ...        ...  ...        ...
2007-12-24  42.279999  32.299999  31.200001  32.540001  ...  44.139999
2007-12-26  42.299999  32.040001  31.260000  32.540001  ...  44.720001
2007-12-27  41.459999  31.150000  30.299999  31.600000  ...  44.599998
2007-12-28  41.099998  31.080000  30.090000  31.809999  ...  44.189999
2007-12-31  41.259998  30.670000  30.190001  31.740000  ...  43.070000

Attributes                                                  Volume  \
Symbols           BAC        TFC        WFC        USB         JPM
Date
2002-01-02  31.155001  35.869999  21.690001  20.780001   7929300.0
2002-01-03  31.480000  35.700001  21.719999  20.750000  10348200.0
2002-01-04  31.559999  36.169998  21.875000  20.700001  10432900.0
2002-01-07  31.200001  36.169998  21.975000  21.100000   9453000.0
2002-01-08  31.350000  35.849998  21.975000  21.000000   7604000.0
...               ...        ...        ...        ...         ...
2007-12-24  41.730000  31.760000  30.450001  32.310001   7679700.0
2007-12-26  42.080002  32.290001  31.219999  32.599998  14578700.0
2007-12-27  42.000000  31.870001  30.760000  31.870001  16530000.0
2007-12-28  41.700001  31.090000  30.520000  31.920000  16852200.0
2007-12-31  40.910000  31.000000  30.090000  31.770000  16361200.0

Attributes
Symbols            BAC        TFC         WFC        USB
Date
2002-01-02   8669200.0  1016700.0   8024000.0  4558700.0
2002-01-03   8237600.0   670600.0   7569600.0  4332300.0
2002-01-04  10598600.0   626500.0  10441600.0  4482400.0
2002-01-07  10852200.0   737800.0   7019800.0  4852000.0
2002-01-08  11914200.0   780100.0   6435000.0  3770700.0
...                ...        ...         ...        ...
2007-12-24  12722200.0  1785700.0   9505400.0  4567900.0
2007-12-26  15446400.0  1852000.0  11876900.0  6750500.0
2007-12-27  19281700.0  3121900.0  18016800.0  8212700.0
2007-12-28  23522900.0  4078300.0  12907200.0  6242700.0
2007-12-31  24663300.0  4565700.0  12947700.0  7991300.0

[1510 rows x 30 columns]

In [2]:
stockData = stockData['Adj Close']
stockData

Symbols           JPM        BAC        TFC        WFC        USB
Date
2002-01-02  20.175047  19.334284  17.475098  12.255763  10.944817
2002-01-03  20.713419  19.312794  17.601948  12.300906  10.998071
2002-01-04  21.645872  19.613737  17.675125  12.331936  11.205789
2002-01-07  21.590353  19.380350  17.767813  12.351685  11.179157
2002-01-08  21.423840  19.070194  17.436069  12.303729  11.152527
...               ...        ...        ...        ...        ...
2007-12-24  31.033640  33.241417  19.615503  21.140219  22.060516
2007-12-26  31.109783  33.257168  19.457607  21.180872  22.060516
2007-12-27  30.209867  32.596714  18.917116  20.530397  21.706747
2007-12-28  29.946796  32.313694  18.874615  20.388113  21.851004
2007-12-31  30.216791  32.439476  18.625622  20.455872  21.802916

[1510 rows x 5 columns]

In [3]:
returns = stockData.pct_change()
returns = returns.dropna()
returns

Symbols          JPM       BAC       TFC       WFC       USB
Date
2002-01-03  0.026685 -0.001112  0.007259  0.003683  0.004866
2002-01-04  0.045017  0.015583  0.004157  0.002523  0.018887
2002-01-07 -0.002565 -0.011899  0.005244  0.001601 -0.002377
2002-01-08 -0.007712 -0.016004 -0.018671 -0.003883 -0.002382
2002-01-09  0.002850 -0.002416 -0.009513 -0.005045 -0.009551
...              ...       ...       ...       ...       ...
2007-12-24  0.016323  0.008588  0.011271  0.027330  0.008055
2007-12-26  0.002454  0.000474 -0.008050  0.001923  0.000000
2007-12-27 -0.028927 -0.019859 -0.027778 -0.030710 -0.016036
2007-12-28 -0.008708 -0.008682 -0.002247 -0.006930  0.006646
2007-12-31  0.009016  0.003893 -0.013192  0.003323 -0.002201

[1509 rows x 5 columns]

In [4]:
meanReturns = returns.mean()
meanReturns

Symbols
JPM    0.000455
BAC    0.000422
TFC    0.000124
WFC    0.000410
USB    0.000546
dtype: float64

In [5]:
covMatrix = returns.cov()
covMatrix

Symbols       JPM       BAC       TFC       WFC       USB
Symbols
JPM      0.000375  0.000169  0.000161  0.000153  0.000167
BAC      0.000169  0.000158  0.000115  0.000111  0.000119
TFC      0.000161  0.000115  0.000163  0.000115  0.000123
WFC      0.000153  0.000111  0.000115  0.000141  0.000109
USB      0.000167  0.000119  0.000123  0.000109  0.000179

In [6]:
weights = np.random.random(len(returns.columns))
weights /= np.sum(weights)

returns['portfolio'] = returns.dot(weights)
print(returns)

Symbols          JPM       BAC       TFC       WFC       USB  portfolio
Date
2002-01-03  0.026685 -0.001112  0.007259  0.003683  0.004866   0.007441
2002-01-04  0.045017  0.015583  0.004157  0.002523  0.018887   0.015634
2002-01-07 -0.002565 -0.011899  0.005244  0.001601 -0.002377  -0.001372
2002-01-08 -0.007712 -0.016004 -0.018671 -0.003883 -0.002382  -0.010717
2002-01-09  0.002850 -0.002416 -0.009513 -0.005045 -0.009551  -0.005981
...              ...       ...       ...       ...       ...        ...
2007-12-24  0.016323  0.008588  0.011271  0.027330  0.008055   0.012490
2007-12-26  0.002454  0.000474 -0.008050  0.001923  0.000000  -0.001788
2007-12-27 -0.028927 -0.019859 -0.027778 -0.030710 -0.016036  -0.023779
2007-12-28 -0.008708 -0.008682 -0.002247 -0.006930  0.006646  -0.002548
2007-12-31  0.009016  0.003893 -0.013192  0.003323 -0.002201  -0.002214

[1509 rows x 6 columns]

In [7]:
print(weights)
print(meanReturns)
print(covMatrix)

[0.14080718 0.18184982 0.30302868 0.11412497 0.26018935]
Symbols
JPM    0.000455
BAC    0.000422
TFC    0.000124
WFC    0.000410
USB    0.000546
dtype: float64
Symbols       JPM       BAC       TFC       WFC       USB
Symbols
JPM      0.000375  0.000169  0.000161  0.000153  0.000167
BAC      0.000169  0.000158  0.000115  0.000111  0.000119
TFC      0.000161  0.000115  0.000163  0.000115  0.000123
WFC      0.000153  0.000111  0.000115  0.000141  0.000109
USB      0.000167  0.000119  0.000123  0.000109  0.000179

In [8]:
##VaR-Historical
#historical var

def historicalVar(returns, alpha = 5):
    if isinstance(returns, pd.Series):
        return np.percentile(returns, alpha)
    elif isinstance(returns, pd.DataFrame):
        return returns.eggregate (historicalVaR, alpha = 5)
    
    else:
        raise TypeError("Expected Returns to be dataframe or series")

print(historicalVar(returns['portfolio'], alpha = 5))

-0.017374534916717713

In [9]:
#Historical cVar
def historicalcVar(returns, alpha = 5):
    if isinstance(returns, pd.Series):
        belowVar = returns <= historicalVar(returns, alpha = alpha)
        return returns[belowVar].mean()
       # return np.percentile(returns, alpha)
    elif isinstance(returns, pd.DataFrame):
        return returns.aggregate (historicalcVar, alpha = 5)
    
    else:
        raise TypeError("Expected Returns to be dataframe or series")
        
print(historicalcVar(returns, alpha = 5))

Symbols
JPM         -0.043816
BAC         -0.029766
TFC         -0.028555
WFC         -0.026178
USB         -0.030411
portfolio   -0.027193
dtype: float64

In [10]:
print(historicalcVar(returns['portfolio'], alpha = 5))

-0.027193366579682538

In [11]:
##VaR-Historical
#historical var

def historicalVar(returns, alpha = 1):
    if isinstance(returns, pd.Series):
        return np.percentile(returns, alpha)
    elif isinstance(returns, pd.DataFrame):
        return returns.eggregate (historicalVaR, alpha = 1)
    
    else:
        raise TypeError("Expected Returns to be dataframe or series")

print(historicalVar(returns['portfolio'], alpha = 1))

-0.0332542174413955

In [12]:
#Historical cVar
def historicalcVar(returns, alpha = 1):
    if isinstance(returns, pd.Series):
        belowVar = returns <= historicalVar(returns, alpha = alpha)
        return returns[belowVar].mean()
       # return np.percentile(returns, alpha)
    elif isinstance(returns, pd.DataFrame):
        return returns.aggregate (historicalcVar, alpha = 1)
    
    else:
        raise TypeError("Expected Returns to be dataframe or series")
        
print(historicalcVar(returns, alpha = 1))

Symbols
JPM         -0.067767
BAC         -0.050097
TFC         -0.046153
WFC         -0.040195
USB         -0.047922
portfolio   -0.041542
dtype: float64

In [14]:
print(historicalcVar(returns['portfolio'], alpha = 1))

-0.041541714076563915